.Reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.ReviewsList {
  display: flex;
  flex-direction: column;
}
.ReviewsListItem {
  display: flex;
  flex-direction: column;
}
.ReviewsAuthor {
  margin-bottom: 5px;
}
.ReviewsReview {
  margin-bottom: 10px;
}
.NoInfo {
  margin-top: 10px;
}
