.Cast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.CastList {
  display: flex;
  justify-content: baseline;
  align-items: stretch;
  flex-wrap: wrap;
  margin: -5px;
}
.CastItem {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: calc((100% - 60px) / 6);
  margin: 5px;
  border-radius: 5px;
}
.ActorName {
  margin-top: 5px;
  color: #ffffff;
  font-size: 13px;
}

.NoInfo {
  margin-top: 10px;
}
.ActorCharacter {
  margin-top: 5px;
  color: #ffffff;
  font-size: 10px;
}
